body
 {background-color: white
 }
button 
{
float:right
}
.box {
  height: 500px;
  width: 250px;
  background-color: black;
  color: #fff;
  margin: 20px;
  float: left;
  border-radius:3px;
}
.box2 {
  height: 50px;
  width: 70px;
  background-color: black;
  color: #fff;
  margin: 20px;
  float: left;
  border-radius:3px;
  text-align: center;
}
h1 {

  text-align: center;
}
h2{

  text-align: center;
}
h3{

  text-align: center;
}
h4{

  text-align: center;
}
h5{

  text-align: center;
}
