body
 {background-color: white
 }

.box {
  height: 80px;
  width: 600px;
  background-color: black;
  color: #fff;
  margin: 20px;
  float: left;
  border-radius:10px;
 margin-left:100px;
}
.box2 {
  height: 40px;
  width: 70px;
  background-color: black;
  color: #fff;
  margin:20px;
  float:left;
  border-radius:10px;
  text-align:center;
}
.box3{ height: 40px;
  width: 70px;
  background-color: black;
  color: #fff;
  margin:15px;
  float:left;
  border-radius:10px;
  text-align:center;

}
.box4{ height: 30px;
  width: 30px;
  background-color: black;
  color: #fff;
  margin:15px;
  float:right;
  border-radius:10px;
  text-align:center;
margin-left:700px;
}
.ggg { 
  text-align: center;
  vertical-align: middle;
  position:relative;
  margin-left:50px;
}
h1 {

  text-align: center;
}
h2{

  text-align: center;
}
h3{

  text-align: center;
}
h4{

  text-align: center;
}
h5{

  text-align: center;
}
