body
 {background-color: white
 }
button 
{
float:right
}
.box {
  height: 500px;
  width: 250px;
  background-color: black;
  color: #fff;
  margin: 20px;
  float: left;
  border-radius:10px;
}
.box2 {
  height: 40px;
  width: 70px;
  background-color: black;
  color: #fff;
  margin:30px;
  float:left;
  border-radius:10px;
  text-align:center;
}
.ggg { 
  text-align: center;
  vertical-align: middle;
  position:relative;
  margin-left:400px;
}
h1 {

  text-align: center;
}
h2{

  text-align: center;
}
h3{

  text-align: center;
}
h4{

  text-align: center;
}
h5{

  text-align: center;
}
